.index-header{
    margin: 0 auto;
    height: 810px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.index-header-phone{
    margin: 0 auto;
    height: 635px;
    max-width: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;    
}

.service-header{
    margin: 0 auto;
    height: 288px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.service-header-phone{
    margin: 0 auto;
    height: 215px;
    max-width: 318px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;    
}